body {
	background: -webkit-radial-gradient(#F0F0F0, #BEBEBE);
	background: -moz-radial-gradient(#F0F0F0, #BEBEBE);
	background: -ms-radial-gradient(#F0F0F0, #BEBEBE);
	background: -o-radial-gradient(#F0F0F0, #BEBEBE);
	background: radial-gradient(#F0F0F0, #BEBEBE);
	width: 100%;
	height: 100%;
}

html {
	height: 100%;
}

.container {
	min-height: 100%;
	text-align: center;
}

h1 {
	font-size: 200px;
	line-height: 200px;
    margin-bottom:0;
}

.description {
    font-size:30px;
}

.btn-large {
	font-size: 45px;
	margin-top: 20px;
}

.first {
	margin-right: 40px;
}